body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9ECEE;
    color: #333;
}

header {
    background-color: #3E418D;
    color: white;
    padding: 1em 0;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
}

header h1 {
    margin: 0.5em 0 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.section {
    padding: 2em 1em;
    text-align: center;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #3E418D;
}

.section p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin: 0 auto;
    max-width: 800px;
}

.project {
    margin-bottom: 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project h3 {
    margin: 0.5em 0 0.2em;
    font-size: 1.5em;
    color: #3E418D;
}

.project p {
    font-size: 1em;
    margin: 0;
    max-width: 600px;
    text-align: center;
}

.social-icons a {
    margin: 0 0.5em;
    color: #3E418D;
    font-size: 2em;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #F9ECEE;
}

footer {
    background-color: #3E418D;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
